html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;   
    opacity: 0.9;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 4;
}

a {
    color: seashell; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.navigation ol {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.nav-list-item{
    margin: 0 13px;
    text-decoration: underline;
    color: seashell;
}

#tea-logo {
    height: 50px;
    margin-left: 10px;
}

/* BANNER */

.banner {
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    min-width: 100px;
    margin-bottom: 120px;
    position: relative;
    background-image: url(./Resources/mission-background.jpg);
    background-size: cover;
    background-position: center;
}

.banner-header {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    flex-shrink: 1;
}

/* Tea of the month */

.tea-of-the-month-container {
    display: flex;
    max-width: 1200px;
    min-width: 625px;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap: 26px;
    justify-content: center;
}

.tea-img img {
    height: 200px;
    max-width: 300px;
    min-width: 250px;
    margin-bottom: 10px;
}

/* Locations Sections & Footer */

.location-container {
    height: 500px;
    max-width: 1200px;
    min-width: 100px; 
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(./Resources/locations-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 50px;
    text-align: center;
    align-content: center;
}

.location-box-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.location-box {
    background-color: black;
    max-height: 500px;
    min-height: 300px;
    max-width: 500px;
    min-width: 300px;
    opacity: 1;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#location-header {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

/* CONTACT DETAILS SECTION */

#phone a {
    text-decoration: none;
}

/* FOOTER */

#foot {
    text-align: left;
    margin-left: 20px;
}